@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";


img {
    max-width: 100%;
}
textarea {
    height: 50vh;
}

.title-column {
    width: 20%;
}

.description-column {
    width: 65%;
}

.action-column {
    width: 15%;
}

.type-action-column {
    width: 30%;
}
